 @font-face { font-family: babasneue; src: url('BebasNeue.otf'); } 
@font-face { font-family: ultralight; src: url('Montserrat-UltraLight.otf'); } 
@font-face { font-family: light; src: url('Montserrat-Light.otf'); } 
@font-face { font-family: regular; src: url('Montserrat-Regular.otf'); } 

::-webkit-input-placeholder { font-size:1em; }
::-moz-placeholder { font-size:1.5em; } /* firefox 19+ */
:-ms-input-placeholder { font-size:1.5em; } /* ie */
input:-moz-placeholder { font-size:1.5em; }


#fb{
  -webkit-transition: addClass 0.5s; /* For Safari 3.1 to 6.0 */
    transition: addClass 0.5s;
}
.home{
  //background:url('http://i.imgur.com/tmMvLwW.jpg') no-repeat top; 
  //background:url('https://static.pexels.com/photos/61135/pexels-photo-61135.jpeg') repeat-y;
  background:url('background.jpg') no-repeat top;
  background-size:cover;
	min-height:43em;
	height:44em;
	width:100%;
}
.home1{
  //background:url('http://i.imgur.com/tmMvLwW.jpg') no-repeat top; 
  //background:url('https://static.pexels.com/photos/61135/pexels-photo-61135.jpeg') repeat-y;
  background:url('background.jpg') no-repeat top;
  background-size:cover;
	min-height:50em;
	height:55em;
	width:100%;
}
input{
	color:white;
	font-size:2em;
}
#movedown{
	margin-top:6%;
	line-height:2.5em;
	border-radius:5px;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	border-top:2px solid #ccc;
	border-bottom:2px solid #ccc;
	width:37%;
	padding-left:5px;
	color:white;
	background:none;
}
.movedown1{
	line-height:4em;
	color:white;
	padding-left:5px;
	border-radius:7px;
	margin-bottom:15px;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	border-top:2px solid #ccc;
	border-bottom:2px solid #ccc;
	width:40%;
	background:none;
}
#login{
	//line-height:1.5em;
	font-size:1.5em;
	border-radius:10px;
	border:2px solid white;
	background:none;
}
#login:hover{
	color:white;
	border-radius:0px;
	border-bottom:4px solid white;
}
#join{
	border-radius:50px;
	background-color:#2f2f61;
	padding-left:15px;
	padding-right:15px;
	margin-bottom:7%;
	//border:2px solid white;
	margin-top:1%;
	font-size:2em;
	color:white;
	font-family: light;
	 outline: none;
	text-decoration: none;
	transition: background-color 0.2s ease-out,
              color 0.2s ease-out;
}
#join:hover{
	//color:white;
	border-radius:10px;
	background-color: #2f2f51;
	color: white;
  transition: background-color 0.3s ease-in,
              color 0.3s ease-in;
}
.ghost-button-thick-border {
  display: inline-block;
  //width: 200px;
  font-weight: bold;
  padding: 8px;
  color: #fff;
  border: 3px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out,
              color 0.2s ease-out;
}
.ghost-button-thick-border:hover,
.ghost-button-thick-border:active {
  background-color: #fff;
  color: #000;
  transition: background-color 0.3s ease-in,
              color 0.3s ease-in;
}
#mtop{
	margin-top:-2%;
}
#mbottom{
	line-height: 1.5em;
	margin-left:-5px;
}
a{
	color:red;
}
#how{
	margin-top:7%;
}
#hh1{
	font-size:6.143em;
	font-family:babasneue;
	color:white;
	font-weight:400;
	//border-bottom:1px solid white;
}
.changecolor{
	font-family:ultralight;
}
.color1{
	font-family:regular;
}
.color2{
	font-family:light;
}

.fontall1{
	color:#333366;
	font-size:1.6em;
	//width:80%;
}
.fontall{
	color:#333366;
	font-size:1.6em;
	//width:80%;
}
.headall1{
	font-weight:400;
	font-size:2.2em;
	line-height:1.9em;
}
.headall{
	font-weight:400;
	font-size:2.2em;
	//margin-left:-15%;
	line-height:1.9em;
}
.well{
  margin-top:2%;
  width:70%;
  margin-left:auto;
  margin-right:auto;
  background-color:white;
  border:1px solid black;
}
hr{
  margin-left:5%;
}
.hey{
	font-family:light;
	background:none;
	outline:none;
}
input{
  border:none;
  font-size:3em;
  background:none;
  //color:white;
  margin-left:5%;
}
input:focus{
  outline:none;
  font-size:1.8em;
  color:black;
}
button:active{
	outline:none;
	border:none;
}
button:visited{
	outline:none;
	border:none;
}
